body {
    background-color: hsl(183, 45%, 90%);
}

.game canvas {
    position: absolute;
    border: 2px solid #00595e;
    border-radius: 10px;
}

.game canvas[data-layer="highlights"] {
    opacity: 0.4;
}

.game canvas[data-layer="ranges"] {
    opacity: 0.2;
}

.game canvas[data-layer="grid"] {
    background-color: #fff;
}

.game .controls-side {
    position: absolute;
    left: 680;
    width: 120;
}

.game .controls-bottom {
    position: absolute;
    top: 485;
}
